{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.tipo_usuario == 'G' %}
        <h1>Bem-vindo, {{ user.nome }}</h1>
        <p>Você é um gerenciador.</p>
        <ul>
            <li><a href="{% url 'usuarios:listar_relatores' %}">Listar Relatores</a></li>
            <li><a href="{% url 'cursos:listar_cursos' %}">Listar Cursos que Gerencio</a></li>
            <li><a href="{% url 'cursos:criar_curso' %}">Criar Curso</a></li>
        </ul>
    {% elif user.tipo_usuario == 'R' %}
        <h1>Bem-vindo, {{ user.nome }}</h1>
        <p>Você é um relator.</p>
        <h2>Cursos onde sou membro:</h2>
        <ul>
            {% for curso in cursos %}
                <li><a href="{% url 'cursos:detalhes_curso_relator' curso.id %}">{{ curso.nome }}</a></li>
            {% endfor %}
        </ul>
    {% elif user.tipo_usuario == 'A' %}
        <h1>Bem-vindo, {{ user.nome }}</h1>
        <p>Você é um avaliador.</p>
        <h2>Cursos onde sou avaliador:</h2>
        <ul>
            {% for curso in cursos %}
                <li><a href="{% url 'cursos:detalhes_curso_ava' curso.id %}">{{ curso.nome }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
