<h1>{{ indicadorman.indicadorman_info.nome }}</h1>
<p>Mensagem de Aviso: {{ indicadorman.indicadorman_info.mensagem_aviso }}</p>

<form method="post">
  {% csrf_token %}
  {{ nsa_form.as_p }}
  <input type="submit" value="Salvar">
</form>

<form method="post">
  {% csrf_token %}
  {{ nivel_suposto_form.as_p }}
  <input type="submit" value="Salvar">
</form>

<h2>Relatório</h2>
{% if indicadorman.conteudo %}
    <p><a href="{{ indicadorman.conteudo.url }}">Baixar</a></p>
    <form action="{% url 'apagar_conteudo' indicadorman.id %}" method="post" onsubmit="return confirm('Tem certeza de que deseja apagar este conteúdo?')">
        {% csrf_token %}
        <input type="submit" value="Apagar">
    </form>
{% endif %}
<form method="post" enctype="multipart/form-data" onsubmit="return confirm('Tem certeza de que deseja enviar este conteúdo? Isso substituirá permanentemente o conteúdo existente.')">
    {% csrf_token %}
    {{ relatorio_form.as_p }}
    <input type="submit" value="{% if indicadorman.conteudo %}Substituir{% else %}Enviar{% endif %}">
</form>

<p>Data de Envio: {{ indicadorman.data_envio }}</p>
<p>Quem Enviou: <a href="{% url 'detalhes_usuario' indicadorman.usuario_relatorio.id %}">{{ indicadorman.usuario_relatorio.nome }}</a></p>

<a href="{% url 'detalhes_curso_gen' indicadorman.curso.id %}">Voltar</a>