<!DOCTYPE html>
<html>
<head>
    <title>base</title>
    <style>
        .navbar {
            overflow: hidden;
            background-color: #1E90FF;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #111;
        }

        .navbar-right {
            float: right;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'usuarios:home' %}">Home</a>
        <a href="{% url 'usuarios:detalhes_usuario' %}">Perfil</a>
        <div class="navbar-right">
            <span style="float:left; padding: 14px 16px; color:white;">Bem-vindo, {{ user.nome }}!!</span>
            <a href="{% url 'usuarios:logout' %}" style="font-size: 0.9em;">Sair</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>