{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}  <!-- Adicione esta linha para carregar o filtro personalizado -->
{% block content %}
    <style>
        form.inline-form {
            display: inline-block;
        }
        form.inline-form input[type="submit"] {
            margin-left: 10px;
        }
        form.inline-form p {
            display: inline-block;
            margin-right: 10px;
        }
        /* Adicionar regra de estilo CSS para a caixa de entrada do nível */
        input[name="nivel_suposto"] {
            width: 20px;
        }
        .icon {
            width: 22px;
        }
    </style>
    <h1>{{ indicador_man.indicador_info.nome }}</h1>
    <p>{{ indicador_man.indicador_info.mensagem_aviso }}</p>

    <div style="display: inline-block;">
        <form method="post" class="inline-form">
            {% csrf_token %}
            {{ nsa_form.as_p }}
            <input type="submit" value="Salvar">
        </form>
    </div>

    <div style="display: inline-block;">
        <form method="post" class="inline-form">
            {% csrf_token %}
            {{ nivel_suposto_form.as_p }}
            <input type="submit" value="Salvar">
        </form>
    </div>

    <br> <!-- Adicionando uma quebra de linha para separar do campo acima -->

    <!-- Mostrar o nome do arquivo, usuário que enviou e data de envio -->
    {% if indicador_man.conteudo %}
        <div>
            <p>Relatório: {{ indicador_man.conteudo.name|filename }}</p>
            <p>Data de Envio: {{ indicador_man.data_envio }}</p>
            <p>Usuário que enviou: {{ indicador_man.usuario_relatorio.nome }}</p>
        </div>
                <!-- Adicionar atributo target="_blank" ao link "Baixar" -->
        <div>
            <a href="{{ indicador_man.conteudo.url }}" target="_blank">
                <img class="icon" src="{% static 'icons/download.png' %}" alt="Baixar">
            </a>

            <!-- Adicionar botão para substituir o relatório -->

            <a href="#" id="substituir-relatorio">
                <img class="icon" src="{% static 'icons/substituir.png' %}" alt="Substituir">
            </a>

            <!-- Adicionar campo de arquivo oculto para selecionar o arquivo -->
            <input type="file" id="selecionar-arquivo-substituir" style="display: none;">

            <!-- Adicionar script JavaScript para manipular o clique no botão e enviar o formulário via AJAX -->
            <script>
              document.getElementById('substituir-relatorio').addEventListener('click', function() {
                document.getElementById('selecionar-arquivo-substituir').click();
              });

              document.getElementById('selecionar-arquivo-substituir').addEventListener('change', function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('conteudo', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url 'indicadores:enviar_arquivo' indicador_man.id %}');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                xhr.onload = function() {
                  if (xhr.status === 200) {
                    window.location.reload();
                  }
                };
                xhr.send(formData);
              });
            </script>

            <form action="{% url 'indicadores:apagar_conteudo' indicador_man.id %}" method="post" class="inline-form">
                {% csrf_token %}
                <button type="submit">
                    <img class="icon" src="{% static 'icons/cancelar.png' %}" alt="Apagar">
                </button>
            </form>
        </div>
    {% else %}
        <p>Relatório: Nenhum envio</p>
        <!-- Adicionar botão para enviar o relatório -->
        <div style="float: right;">
            <a href="#" id="enviar-relatorio">
                <img class="icon" src="{% static 'icons/envio.png' %}" alt="Enviar Relatório">
            </a>


            <!-- Adicionar campo de arquivo oculto para selecionar o arquivo -->
            <input type="file" id="selecionar-arquivo" style="display: none;">

            <!-- Adicionar script JavaScript para manipular o clique no botão e enviar o formulário via AJAX -->
            <script>
              document.getElementById('enviar-relatorio').addEventListener('click', function() {
                document.getElementById('selecionar-arquivo').click();
              });

              document.getElementById('selecionar-arquivo').addEventListener('change', function() {
                var file = this.files[0];
                var formData = new FormData();
                formData.append('conteudo', file);

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '{% url 'indicadores:enviar_arquivo' indicador_man.id %}');
                xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                xhr.onload = function() {
                  if (xhr.status === 200) {
                    window.location.reload();
                  }
                };
                xhr.send(formData);
              });
            </script>
        </div>
    {% endif %}

    <p><a href="{% url 'cursos:detalhes_curso_gen' curso.id %}">Voltar</a></p>

    <!-- Adicionar regras de estilo CSS para a tabela -->
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        td:first-child {
            text-align: center;
        }
    </style>

    <table>
      <tr>
        <th>CONCEITO</th>
        <th>CRITÉRIO DE ANÁLISE</th>
      </tr>
      {% for conceito, criterio in tabela_conceitos.items %}
          <tr>
            <td>{{ conceito }}</td>
            <td>{{ criterio }}</td>
          </tr>
      {% endfor %}
    </table>

{% endblock %}
